<%= content_for(:title, "My Groups") %>
<div class="row">
  <%= link_to 'Add a new Group', new_group_path, class: "btn btn-default" %>
</div>
<div class="row">
  <div class="col-md-6">
    <table class="table table-hover">
      <tr>
        <th></th>
        <th>Group</th>
        <th>Owner</th>
      </tr>


      <% @groups.each do |group| %>
        <tr data-link="<%= group_path(group) %>">
          <td>
            <% if current_user === group.owner %>
              <span class="glyphicon glyphicon-star"></span>
            <% end %>
          </td>
          <td> <%= group.name %> </td>
          <td> <%= group.owner.name %> <span class="glyphicon glyphicon-chevron-right"></span></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>



