<h1>
  
  <%= @group.name %>
</h1>

<div class="row">
  <div class="col-md-6">
 
  </div>
  <div class="col-md-6">
    <%= link_to "Manage Group Members", groupuser_path(@group), class:'btn btn-default' %>
    <%= link_to "Add Expense", new_group_expense_path(@group), class:'btn btn-default' %>
  </div>
</div>

<%= link_to "Settle", "/groups/#{@group.id}/settlements", method: :post %>

<div class="row">
  <h3>Overview</h3>
  <div class="col-md-6">
    <table class="table table-bordered table-striped">
          <tr>

            <th>Group Members</th>
            <th>Balance</th>
          </tr>
          <% @user_portions_hash.each do |user,amount| %>
          <tr>
            <td><%=  user %></td>
            <td><%=  content(user,amount) %></td>
          </tr>
        <% end %>
    </table>
  </div>
</div>

<%= render "expenses/expense" %>



