<h1>
  
  <%= @group.name %>
</h1>

<div class="row">
  <div class="col-md-6">
 
  </div>
  <div class="col-md-6">
    
    <%= form_tag '/settlements/testing', style:'display:inline-block' do %>
        <button <%= @group.status == 'open' ? "" : "disabled" %> class='btn btn-default'>fede Settle test</button>
    <% end %>
  
    <%= form_tag groupuser_path(@group), style:'display:inline-block' do %>
        <button <%= @group.status == 'open' ? "" : "disabled" %> class='btn btn-default'>Manage Group Member</button>
    <% end %>

    <%= form_tag new_group_expense_path(@group), method:'get', style:'display:inline-block' do %>
        <button <%= @group.status == 'open' ? "" : "disabled" %>  class='btn btn-default'>Add Expense</button>
    <% end %>

 </div>
</div>

<%= link_to "Settle", "/groups/#{@group.id}/settlements", method: :post %>

<div class="row">
  <h3>Overview</h3>
  <div class="col-md-6">
    <table class="table table-bordered table-striped">
          <tr>

            <th>Group Members</th>
            <th>Invested </th>
            <th>Portion </th>
            <th>Balance </th>
          </tr>
          <% @user_portions_hash.each do |user,amount| %>
          <tr>
            <td><%=  user.name %></td>
            <td><%=  @user_invested_hash[user.name] %></td>
            <td><%=  @user_portion_hash[user.name] %></td>
            <td><%=  content(user,amount) %></td>
          </tr>
        <% end %>
    </table>
  </div>
</div>

<%= render "expenses/expense" %>



