<p>
  <strong>Name:</strong>
  <%= @group.name %>
</p>

<div class="row">
  <div class="col-md-6">
  <%= form_for @group, url: adduser_path(@group), method: :post do |f| %>
    <div class="input-group">
      

      <%= email_field_tag :emailid , nil, {class:"form-control"} %>
      <div class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Add User <span class="caret"></span></button>
        <ul class="dropdown-menu pull-right">
          <%= f.submit 'Add User to Group', class:'btn btn-primary' %>
        </ul>
        <% end %>
      </div><!-- /btn-group -->
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->
  <%= @group.owner.name %>
</p>

<p>
  <strong>Your Expenses:</strong>
  <% @portions.each do |portion| %>
  <p><%= portion.expense.description %></p>
  <p>Cost: <%= portion.expense.amount %></p>
  <p>You owe: <%= portion.amount.to_s %></p>
  <% end %>
  <p>You owe in total <%= @amount_owing %></p>
</p>



<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
