<p>
  <strong>Name:</strong>
  <%= @group.name %>
</p>

<div class="row">
  <div class="col-md-8">
 
  </div>
  <div class="col-md-4">
    <%= link_to "List Users", groupuser_path(@group), class:'btn btn-default' %>
    <%= link_to "Add Expense", new_group_expense_path(@group), class:'btn btn-default' %>
  </div>
</div>



<div class="row">
  <div class="col-md-6">
    <table class="table table-bordered table-striped">
          <tr>
            <th>User</th>
            <th>Amount</th>
          </tr>
          <% @user_portions_hash.each do |user,amount| %>
          <tr>
            <td><%=  user %></td>
            <td><%=  amount %></td>
          </tr>
        <% end %>
    </table>
</div>
</div>



<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
