<h2><%= @expense.description %>  $ <%= @expense.amount %></h2>

<p>paid by : <%= @expense.payer.name %></p>
<p>created at : <%= @expense.created_at.to_s(:short) %></p>

<table class="table table-bordered table-striped table-hover">
  <tr>
    <th>Group Member</th>
    <th>Your Share</th>
  </tr> 
  <% @group.users.each do |user| %>
    <% portion = @expense.portions.find_by_payee_id user.id %>

    <tr>
      <td><%= user.name %></td>
      <td>
        <% if portion.present? %> 
          <%= number_to_currency(portion.amount.to_s) %>
        <% else %>
          $0.00
        <% end %>
      </td>
    </tr>
  <% end %>                          
  
</table>
