<div id="expense-list">
<h3>Who Paid What</h3>
<div class="col-md-6 col-md-offset-1">
	<table class="table table-bordered table-hover">
		
		<thead>
			<th></th>
			<th>Description</th>
			<th>Cost</th>
		</thead>	
		<tbody>	

			<% @expenses.each do |expense| %>
				<tr data-link="<%= expense_path(expense) %>">
					<td><%= form_for [@group, @expense_copy] do |f| %>
						<%= f.hidden_field :group_id, value: expense.group.id %>
						<%= f.hidden_field :user_id, value: expense.payer.id %>
						<%= f.hidden_field :amount, value: expense.amount %>
						<%= f.hidden_field :description, value: expense.description %>
						<%= button_to "Copy", new_group_expense_path(@group) %>
						<% end %>

					</td>
					<td><%= expense.description %></td>
					<td><%= number_to_currency(expense.amount) %><span class="glyphicon glyphicon-chevron-right"></span></td>
				</tr>
			<% end %>

		</tbody>


	</table>


</div>
</div>


