<%= form_for [@group, @expense] do |f| %>
  <% if @expense.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@expense.errors.count, "error") %> prohibited this expense from being saved:</h2>

      <ul>
      <% @expense.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_area :description, class: "form-control", row: "3" %>
  </div>
  <div class="form-group">
    <%= f.label :amount %><br>
    <%= f.number_field :amount, value: params[:amount] %>
  </div>
  <div class="form-group">
    <%= f.select(:user_id, @group.users.map do |user| [user.name, user.id] end, { selected: current_user.id  } , {:class => 'form-control'}) %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>