<%= content_for(:title, "#{@group.name} Expense - #{@expense.description.capitalize}") %>
<p id="notice"><%= notice %></p>

<div class='container'>

<div class="row">
  <div class="col-md-4">
  <%= render "expense_detail" %>
  </div>
</div>

</div>



<%= link_to 'Edit Expense', edit_expense_path %> |
<%= link_to "Back to #{@group.name} group", group_path(@expense.group) %>

