<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @expense.description %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @expense.amount %>
</p>

<p>
  <strong>Group:</strong>
  <%= link_to @expense.group.name, group_path(@expense.group) %>
</p>

<p>
  <strong>Payer:</strong>
  <%= @payer.email %>
	
</p>

<%= link_to 'Edit', edit_expense_path %> |
<%= link_to 'Back', group_expenses_path(@expense.group) %>
