<!DOCTYPE html>
<html>
<head>
  <title>ExpenseTracker</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= favicon_link_tag 'favicon.jpg', rel: 'shortcut icon', type: 'image/jpg' %>
  <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Lato:100,400" %>
  
  <%= csrf_meta_tags %>
</head>
<body>
	<div id='wrap'>

		<%= render 'layouts/header' %>
<div id="landing">

	<div class="container">
		<div class="row">
			<div class="col-md-12">				
				<div class="row">
						<% if notice %>
						  <p class="alert alert-notice well"><%= notice %><i class='close'></i></p>
						<% end %>
						<% if alert %>
						  <p class="alert alert-error well"><%= alert %><i class='close'></i></p>
						<% end %>	
				</div>
			</div>
			<div class="row">
				<%= yield %>
			</div>
		</div>

		<div id="push"></div>

	</div>
</div>
	<div id="footer">
		<%= render 'layouts/footer' %>
	</div>
		
	<script>
		$("tr[data-link]").click(function() {
  			window.location = $(this).data("link");
		});

		$('#addexpense').on('click',function(){
			$('#expense_form').toggle();
		});

		$(window).load(function() {
		  $('#expense_form').hide();
		});
		
	</script>
</body>
</html>
